<div class="modal-background" id="add-contact-modal">
  <div class="modal-box">
    <div class="modal-headder">
      <div class="close-modal">&times</div>
      <h1>Skift kodeord</h1>
    </div>
    <div class="modal-form">

      <%= simple_form_for :contact, url: contacts_path, method: 'create' do |f| %>
        <%= f.input :user_id, as: :hidden, input_html:{value: current_user.id} %>  
        <%= f.input :name, label: false, placeholder: 'Navn' %>
        <%= f.input :position, label: false, placeholder: 'Proffesion' %>
        <%= f.input :email, label: false, placeholder: 'Email addresse' %>
        <%= f.input :phone, label: false, placeholder: 'Telefon' %>
        <%= f.submit value: 'Gem', class: 'submit'%>
      <%end%>
      
    </div>
  </div>
</div>



<script>
  // will open modal when onclick event in navbar triggers
  function addContact(){
    document.querySelector('#add-contact-modal').style.display = 'block';
  }
</script>