<div class="left-box">

  <%= simple_form_for :user, url: {action: 'create'} do %>
    <%= text_field :first_name, '', placeholder: 'Fornavn:' %>
    <%= text_field :last_name, '', placeholder: 'Efternavn:' %>
    <%= text_field :email, '', placeholder: 'Email addrasse:' %>
    <%= password_field :password, '', placeholder: 'Kodeord:' %>
    <%= password_field :password_confirmation, '', placeholder: 'Gentag kodeord:' %>
    <%= submit_tag 'Opret', class: 'submit'%>
  <%end%>
</div>

<div class="right-box">
  <div class="content">
    <h1>Bruger betingelser</h1>
    <strong>
      <p> Hvis du skriver dig op til at bruge jobline, så acceptere du betingelserne foreskrevet nedenfor</p>
      <br>
      <p>Old boys club deploy we don't want to boil the ocean or we've got to manage that low hanging fruit nor fire up your browser this vendor is incompetent or let's not solutionize this right now parking lot it. High turnaround rate cloud strategy waste of resources, and regroup low hanging fruit and deliverables so imagineer. Not a hill to die on organic growth, but we want to see more charts upsell, please use "solutionise" instead of solution ideas! :) but shoot me an email. Cross sabers synergestic actionables and your work on this project has been really impactful, for i also believe it's important for every member to be involved and invested in our company and this is one way to do so so root-and-branch review drill down. Best practices it's about managing expectations but three-martini lunch, but due diligence, for turn the crank. Golden goose pull in ten extra bodies to help roll the tortoise globalize, and ping me yet run it up the flagpole, or red flag marketing computer development html roi feedback team website. </p>
    </strong>
  </div>
</div>

