<p id="notice"><%= notice %></p>

<h1>Applied Jobs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Job</th>
      <th>Job title</th>
      <th>Company name</th>
      <th>Application</th>
      <th>Application type</th>
      <th>Application status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applied_jobs.each do |applied_job| %>
      <tr>
        <td><%= applied_job.user_id %></td>
        <td><%= applied_job.job_id %></td>
        <td><%= applied_job.job_title %></td>
        <td><%= applied_job.company_name %></td>
        <td><%= applied_job.application %></td>
        <td><%= applied_job.application_type_id %></td>
        <td><%= applied_job.application_status_id %></td>
        <td><%= link_to 'Show', applied_job %></td>
        <td><%= link_to 'Edit', edit_applied_job_path(applied_job) %></td>
        <td><%= link_to 'Destroy', applied_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applied Job', new_applied_job_path %>
