<div class="modal-headder">
  <div class="close-modal">&times</div>
    <h1>Søg nyt job</h1>
  </div>
<div class="modal-container">
  <div class="modal-description">
      <p>Hvis du har søgt et job uden for jobline kan du repportere dette her.</p>
  </div>

  <%= simple_form_for @applied_job do |f| %>

    <%= f.input :user_id, as: :hidden, placeholder: 'bruger id', input_html:{value: current_user.id}%>
    <%= f.input :job_title, placeholder: 'Job titel', label: false, input_html:{value: (@job_posting.main_text.split(/\n/).first if @job_posting)} %>
    <%= f.input :company_name, placeholder: 'Firma navn', label: false, input_html:{value: (@job_posting.company_name if @job_posting)}%>
    <%= f.input :company_phone, placeholder: 'Firma tlf nummer', label: false,input_html:{value: (@job_posting.phone if @job_posting)} %>
    <%= f.input :company_email, placeholder: 'Firma email', label: false, input_html:{value: (@job_posting.email if @job_posting)} %>

    <%= f.rich_text_area :application, placeholder: 'Hvis du har andsøgt skriftligt, så kan du ligge din ansøgning ind her', value: current_user.standart_application.content %>
    <br>
    <br>


    <div class="modal-description">
        <strong>hvordan er jobbet søgt?</strong>
        <p>Har du ansøgt personligt, telefonisk eller har du afleveret en ansøgning?</p>
        <p>noter det her så det kan blive medregnet i din jobsøgningsstatistik</p>
    </div>
    <div class="modal-inline">
      <div class="box">
        <%= f.input :application_type_id, collection: @application_types, as: :radio_buttons, label: false%>
      </div>
      
    </div>

    <div class="modal-description">
      <strong>Hvad er status for din ansøgning?</strong>
    </div>

    <div class="modal-inline">
        <div class="box">
          <%= f.input :application_status_id, collection: @application_statuses, as: :radio_buttons, label: false%>
        </div> 
    </div>

    <%= f.submit value: 'Gem ansøgning', class: 'submit'%>
  <%end%>
</div>

<script>
  document.querySelector('.close-modal').addEventListener('click', () => {
    document.querySelector('#modal').style.display = 'none';
  })
  
</script>