<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @applied_job.user_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @applied_job.job_id %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @applied_job.job_title %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @applied_job.company_name %>
</p>

<p>
  <strong>Application:</strong>
  <%= @applied_job.application %>
</p>

<p>
  <strong>Application type:</strong>
  <%= @applied_job.application_type_id %>
</p>

<p>
  <strong>Application status:</strong>
  <%= @applied_job.application_status_id %>
</p>

<%= link_to 'Edit', edit_applied_job_path(@applied_job) %> |
<%= link_to 'Back', applied_jobs_path %>
