<div class="modal-headder">
  <div class="close-modal">&times</div>
  <h1>Ny kontaktperson</h1>
</div>
<div class="modal-container">

  <%= simple_form_for :contact, url: contacts_path, method: 'create' do |f| %>
    <%= f.input :user_id, as: :hidden, input_html:{value: current_user.id} %>  
    <%= f.input :name, label: false, placeholder: 'Navn' %>
    <%= f.input :position, label: false, placeholder: 'Proffesion' %>
    <%= f.input :email, label: false, placeholder: 'Email addresse' %>
    <%= f.input :phone, label: false, placeholder: 'Telefon' %>
    <%= f.submit value: 'Gem kontakt', class: 'submit'%>
  <%end%>
  
</div>

