<div class="headline">
  <h1>Bruger indstillinger</h1>
</div>

<div class="inline">
  <div class="colapse-box">
    <div class="colapse-header">
      <input type="checkbox" class="colapse-check">
      <h4>Rediger mine oplysninger</h4>
    </div>
    <div class="content">
      <%= simple_form_for :user, url: users_update_path(id: current_user) do |f| %>
        <%= f.input :first_name, label: false, placeholder: 'Fornavn:' %>
        <%= f.input :last_name, label: false , placeholder: 'Efternavn:' %>
        <%= f.input :email, label: false, placeholder: 'Email addrasse:' %>
        <%= f.submit value: 'Gem', class: 'submit'  %>
      <%end%>
    </div>
  </div>

  <div class="colapse-box">
    <div class="colapse-header">
      <input type="checkbox" class="colapse-check">
      <h4>Skift mit kodeord</h4>
    </div>
    <div class="content">
      <%= simple_form_for :user, url: users_update_path(id: current_user) do |f| %>
        <%= f.input :password, label: false, placeholder: 'Kodeord:' %>
        <%= f.input :password_confirmation, label: false, placeholder: 'Gentag kodeord:' %>
        <%= f.submit value: 'Gem', class: 'submit'  %>
      <%end%>
    </div>
  </div>

  <div class="colapse-box">
    <div class="colapse-header">
      <input type="checkbox" class="colapse-check">
      <h4>Tilføj kontak person</h4>
    </div>
    <div class="content">
      <%= simple_form_for :contact, url: contacts_path, method: 'create' do |f| %>
        <%= f.input :user_id, as: :hidden, input_html:{value: current_user.id} %>  
        <%= f.input :name, label: false, placeholder: 'Navn' %>
        <%= f.input :position, label: false, placeholder: 'Proffesion' %>
        <%= f.input :email, label: false, placeholder: 'Email addresse' %>
        <%= f.input :phone, label: false, placeholder: 'Telefon' %>
        <%= f.submit value: 'Gem', class: 'submit'%>
      <% end %>
    </div>
  </div>
</div>



<script>
  document.querySelectorAll('.colapse-box').forEach(function(element){
    let colapseCheck = element.querySelector('.colapse-check')
    element.querySelector('.colapse-header').addEventListener('click', function(){
      colapseCheck.click();
      if(colapseCheck.checked){
        element.querySelector('.content').style.display = 'flex';
        element.querySelector('.content').style.justifyContent = 'center';
      }else{
        element.querySelector('.content').style.display = 'none';
      }
    })
  })

</script>