<div class="inline">
  <div class="job-search-box">
      <%=simple_form_for :search, url: job_postings_path, method: 'post' do |f|%>
        <%= f.input :job_type, collection: @job_types%>
      <%end%>
  </div>
  <table>
  <tbody>
  </tbody>
  <% @job_postings.reverse_each do |jp| %>
    <td class="job-box">
      <div class="job-info" >
        <div class="job-headline">
          <%= jp.main_text.split("\n").first%>
        </div>
        <div class="job-main-text">
          <%= "#{jp.main_text[0..500]}..."%>
        </div>
        <div class="job-data">
          <div class="job-zip-code">
            <strong><%= "Postnummer: #{jp.zip}"%></strong>
          </div>
          <div class="job-company">
            <strong><%= "Arbejdsgiver: #{jp.company_name} "%></strong>
          </div>
          <div class="job-type">
            <%="Jobtype: #{jp.job_type.name}"%>
          </div>
        </div>
      </div>
      <div class="job-button-box">
        <%path = "/job_postings/#{jp.id}"%>
        <%= "<div class='btn' onClick='openModal(`#{path}`)'>Se jobbet</div>".html_safe%>
      </div>
    <br>
  <%end%>
  </td>
  </tbody>
  </table>
  
</div>

<script>
  const searchJobTypes = document.getElementById('search_job_type');

  searchJobTypes.addEventListener('change', searchForJobTypes);

  function searchForJobTypes(params) {
    let jobs = document.querySelectorAll('.job-box');

    if(searchJobTypes.value == ''){
      jobs.forEach(job => {
        job.style.display = 'flex';
      });
    }else{
      jobs.forEach(job => {
        if(job.querySelector('.job-type').innerHTML.replace('Jobtype:','').includes(searchJobTypes.options[this.selectedIndex].innerHTML)){
          job.style.display = 'flex';
          job.style.display = 'flex';
          

          
        }else{
          job.style.display = 'none';
          job.style.overflow = 'hidden';
        }
      });
    }
  }

</script>