<div class="inline">
  <div class="job-search-box">
      <%=simple_form_for :search, url: job_postings_path, method: 'post' do |f|%>
        <%= f.input :job_type, collection: @job_types%>
      <%end%>
  </div>
  <% @job_postings.reverse_each do |jp| %>
    <div class="job-box">
      <div class="job-info">
        <div class="job-headline">
          <%= jp.main_text.split("\n").first%>
        </div>
        <div class="job-main-text">
          <%= "#{jp.main_text[0..500]}..."%>
        </div>
        <div class="job-data">
          <div class="job-zip-code">
            <strong><%= "Postnummer: #{jp.zip}"%></strong>
          </div>
          <div class="job-company">
            <strong><%= "Arbejdsgiver: #{jp.company_name} "%></strong>
          </div>
          <div class="job-type">
            <strong><%="Jobtype: #{jp.job_type.name}"%></strong>
          </div>
        </div>
      </div>
      <div class="job-button-box">
        <%= link_to 'Se jobbet', jp, class: 'btn', data: {toggle: "modal", target: "#modal"}%>
      </div>
    </div>
    <br>
  <%end%>


</div>