<div class="inline">
  <div class="job-search-box">
      <%=simple_form_for :search, url: job_postings_path, method: 'post' do |f|%>
        <%= f.input :job_type, collection: @job_types, value_method: :name, label: false,  prompt: 'Job Type'%>
       <br> 
        <%= f.input :post_numbers, collection: @post_numbers, label: false, prompt: 'Område' %>
      <%end%>
  </div>
  <table>
    <tbody>
      <% @job_postings.reverse_each do |jp| %>
        <td class="job-box">
          <div class="job-info" >
            <div class="job-headline">
              <%= jp.main_text.split("\n").first%>
            </div>
            <div class="job-main-text">
              <%= "#{jp.main_text[0..500]}..."%>
            </div>
            <div class="job-data">
              <div class="job-zip-code">
                <%= "Postnummer: #{jp.zip}"%>
              </div>
              <div class="job-company">
                <strong><%= "Arbejdsgiver: #{jp.company_name} "%></strong>
              </div>
              <div class="job-type">
                <%="Jobtype: #{jp.job_type.name}"%>
              </div>
            </div>
          </div>
          <div class="job-button-box">
            <%path = "/job_postings/#{jp.id}"%>
            <%= "<div class='btn' onClick='openModal(`#{path}`)'>Se jobbet</div>".html_safe%>
          </div>
        <br>
      <%end%>
      </td>
    </tbody>
  </table>
  <br>
  <br>
</div>

<script>
  // define search fields
  const searchJobTypes = document.getElementById('search_job_type');
  const searchPostnumbers = document.getElementById('search_post_numbers');

  // setup event listener
  searchJobTypes.addEventListener('change', searchForJobs);
  searchPostnumbers.addEventListener('change', searchForJobs);
  
  function searchForJobs() {
    let jobs = document.querySelectorAll('.job-box');

    if(searchJobTypes.value == '' && searchPostnumbers.value == ''){
      jobs.forEach(job => {
        job.style.display = 'flex';
      });
    }else{
      jobs.forEach(job => {
        // makes the boolean logic
        let jobTypeView = job.querySelector('.job-type').innerHTML.replace('Jobtype:','').includes(searchJobTypes.value)
        let postNumberView = searchPostnumbers.value.includes(parseInt(job.querySelector('.job-zip-code').innerHTML.replace('Postnummer: ', '')))

        if(postNumberView && jobTypeView || searchPostnumbers.value == '' && jobTypeView || searchJobTypes.value == '' && postNumberView){
          job.style.display = 'flex';          
        }else{
          job.style.display = 'none';
          job.style.overflow = 'hidden';
        }
      });
    }
  }

</script>

