<!DOCTYPE html>
<html>
  <head>
    <title>Jobline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render partial: 'shared/navbar' %>

      <div class="content">
        <%= yield %>
      </div>
    </div> 
  </body>
</html>


<script>
  // will hide modals away when close button is pressed
  document.querySelectorAll('.close-modal').forEach(function(closeModal){
    closeModal.addEventListener('click', function(){
      closeModal.parentElement.parentElement.parentElement.style.display = 'none';
    })
  })
</script>