<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jobline</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'forms', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="headder">
    <div class="logo"> 
      <h2><%= link_to 'Jobline', welcome_path%></h2>
    </div>
  </div>

  <%= yield %>
 
</body>
</html>